<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="free.com.soffa_droid">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/soffa_app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Splash_loading"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".Activity_login" />
        <activity android:name=".Tips_Activity" />
        <activity android:name=".SignUp" />
        <activity android:name=".Phone_Validation" />
        <activity android:name=".Activity_Welcome" />
        <activity android:name=".Activity_Password_Forgot" />
        <activity android:name=".MainLogin" />
        <activity android:name=".PlateValidation" />
        <activity android:name=".PaymentMethod" />
        <activity android:name=".PlatePhotoActivity">

        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme">

        </activity>
    </application>

</manifest>